:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;

  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background:
    radial-gradient(circle at 20% 20%,
      rgba(103, 233, 211, 0.185),
      transparent 30%),
    radial-gradient(circle at 80% 80%,
      rgba(52, 214, 133, 0.26),
      transparent 30%),
    #7c7983;

  color: #eee;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}